<nav class="navbar navbar-default fixed">
    <div class="container-fluid">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/checkup">Mindset Check Up</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>
