<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mindset Check Up</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="head-wrapper">
                    <h1>Mindset Check Up</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="name-form">
                        <form method="POST">
                            <h3>Just a brief introduction!</h3>
                            <label for="name">
                                <span>Tell us your name</span>
                                <input type="text" name="name" id="user_name">
                            </label>
                            <button type="submit" id="nameSubmit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="wrapper">
                    <div class="one_wrapper quesDiv" id="ques_one">
                        <div class="container-fluid">
                            <h1>Part One</h1>
                            <form method="POST">
                                <label class="main-label" for="one_ques_one">
                                    <div class="ques-wrapper">
                                        <span class="ques">1) You can always change your talent a good amount, no matter how much you have.</span>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="1"><span class="options">Disagree big tme</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="2"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="3"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="4"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="5"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_one" value="6"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="one_ques_two">
                                    <div class="ques-wrapper">
                                        <span class="ques">2) I like work the best when it makes me think hard.</span>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="1"><span class="options">Disagree big tme</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="2"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="3"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="4"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="5"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_two" value="6"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="one_ques_three">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can change 3</span>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="1"><span class="options">Disagree big tme</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="2"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="3"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="4"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="5"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_three" value="6"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="one_ques_four">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can change 4</span>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="1"><span class="options">Disagree big tme</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="2"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="3"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="4"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="5"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partOne" name="one_ques_four" value="6"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </label>
                                <button type="submit" name="button" id="submitOne">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="two_wrapper quesDiv" id="ques_two">
                        <div class="container-fluid">
                            <h1>Part Two</h1>
                            <form method="POST">
                                <label class="main-label" for="two_ques_one">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can work</span>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="6"><span class="options">Disagree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="5"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="4"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="3"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="2"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_one" value="1"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="two_ques_two">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can work</span>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="6"><span class="options">Disagree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="5"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="4"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="3"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="2"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_two" value="1"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="two_ques_three">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can work</span>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="6"><span class="options">Disagree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="5"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="4"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="3"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="2"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_three" value="1"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <label class="main-label" for="two_ques_four">
                                    <div class="ques-wrapper">
                                        <span class="ques">Talent can work</span>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="6"><span class="options">Disagree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="5"><span class="options">Disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="4"><span class="options">Kind of disagree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="3"><span class="options">Kind of agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="2"><span class="options">Agree</span>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="input-container">
                                            <input type="radio" class="partTwo" name="two_ques_four" value="1"><span class="options">Agree big time</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </label>
                                <button type="submit" name="button" id="submitTwo">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="/js/alertify.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
