<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mindset Check Up</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="body-cover">
            <% include partials/index-nav.ejs %>
            <div class="container-fluid">
                <div class="head-wrapper">
                    <div class="title-wrapper">
                        <h1 class="animated bounceInLeft">MINDSET CHECK UP</h1>
                        <p class="animated bounceInRight">Strength and growth comes only through continous struggle and effort.<figcaption class="animated bounceInRight">— Napoleon Hill</figcaption></p>
                    </div>
                    <div class="btn-home animated fadeInUp">
                        <a href='/checkup'>
                            <button class="animated pulse">Take the mindset quiz for free</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
