<!DOCTYPE html>
<html>
    <head>
        <title>Mindset Check Up</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="cover">
            <div class="tint">
                <% include partials/index-nav.ejs %>
                <div class="head-wrapper my-3">
                    <div class="title-wrapper">
                        <div class="mindset-caption">
                            <h1 class="animated bounceInLeft">MINDSET CHECK UP</h1>
                            <p class="animated bounceInRight">Strength and growth comes only through continous struggle and effort.<figcaption class="animated bounceInRight">— Napoleon Hill</figcaption></p>
                        </div>
                        <div class="btn-home animated fadeInUp">
                            <a href='/checkup'>
                                <button class="animated pulse">Take the mindset quiz for free</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
