body, html {
    height: 100%;
}
.cover{
    background-image: url('../img/bg_one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.tint {
    background-color: rgba(10,20,50,.7);
    position: relative;
    height: 100%;
}
ul {
    margin: 1pc;
}
ul a {
    color: white !important;
    font-size: 1.2pc;
}
.fa {
    color: white;
    font-size: 2rem;
}
.fa:hover {
    transform: scale(1.2);
}
